@model IEnumerable<VideoRental.Models.Country>

@{
    ViewData["Title"] = "Index";
}

<h1>Countries</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.CountryId">Update</a> |
                <a asp-action="Insert" asp-route-id="@item.CountryId">Insert</a> |
                <a asp-action="Delete" asp-route-id="@item.CountryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
